            body {
                color: black;
                background-image: linear-gradient(46deg, rgba(99, 216, 4, 0.904), rgb(18, 212, 180));
                font-family: Arial, Helvetica, sans-serif;
            }

            ul {
                display: flex;
                justify-content: space-between;
                list-style-type: none;
                align-items: center;
                padding: 16px;
            }

            a {
                text-decoration: none;
                color: black;
            }

			header img {
                width: 200px;
                height: 200px;
                border-radius: 50%;
			}
			
            .center {
                text-align: center;
            }

            h1 {
                color: black;
                text-align: center;
                font-size: 25px;
            }

            footer img {
                width: 90px;
                height: 90px;
                text-align: center;
            }

            footer {
                display: flex;
                justify-content: center;
            }

            footer a {
            margin: 4px;
            text-align: center;
            }

            .container {
                padding: 0px 40px;
            }

            nav a:hover {
                color: purple;
            }

            .botoes-downloads {
                text-align: center;
                align-items: center;
            }

            .botoes-downloads button {
                background-image: linear-gradient(46deg, rgba(87, 160, 27, 0.904), rgb(14, 192, 162));
                border-color: chartreuse;
                border: none;
                padding: 15px;
                width: 15%;
                border-radius: 100px;
                color: black;
                justify-content: center;
                align-items: center;
                padding: 17px;
                text-align: center;
                white-space: nowrap;
                width: 30%;
                overflow: hidden;
                text-overflow:    ellipsis;
                
                }

                .botoes-downloads h3 {
                    text-align: left;
                }
